html, body{
  width:100%;
  height:100%;
  font-family:Palatino Linotype;
  font-size: 16px;
}
.app{
  background: #15222d;
  height:100%;
  color: #dcdcdc;
  padding: 14px;
  box-sizing: border-box;
}

.containers{
  width:100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: repeat(6, 1fr);
}

.container{
 padding: 10px; 
}
.card{
  width:100%;
  height:100%;
  background: #2d3e4d;
}
.line-chart-container{
  grid-column: 1 / span 2;
  grid-row: 2 / span 5;
}
.chart-data-container{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.chart-data-container .card{
  display: flex;
  align-items: center;
  justify-content: center;
}
#currentData{
  font-weight: bolder;
  font-size: 5rem;
}
#currentDiff{
  transform: translate(41px,16px);
  font-size: 1.5rem;
}
#currentDiff.up{
  color: #00cc00;
}
#currentDiff.down{
  color:#ec0000;
}
.control-container{
  grid-column: 3 / span 1;
  grid-row: 2 / span 5;
}
.control-container .card{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.buttons-wrapper{
  width: 100%;
  flex:1;
  display: grid;
  grid-row: auto auto;
}
.buttons-wrapper>div{
  text-align: center;
  padding:0px 10px 10px 10px;
}
.buttons-wrapper button{
  width:80%;
  height:90%;
  font-size: 5rem;  
  font-weight: bolder;   
  background: #efefef;
  outline: none;
  border: none; 
  cursor: pointer;
}
.buttons-wrapper button:hover{
  background: #c7c7c7;
}
.timer-contrainer{
  font-size:7rem;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.timer-contrainer .card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bet-info-wrapper, .money-wrapper{
  padding:20px 40px;
}
#moneyText, #betInfo{
  font-size: 4rem;
  text-align: center;
}

.win{
  color:#00cc00;
  animation-name: winning;
  animation-duration: 0.5s;
}
.lose{
  color:#ec0000;
}

.title{
  font-size:1rem;
}

@keyframes winning {
  50% {
      transform: scale(1.2);
  }

  100%{
      transform: scale(1);
  }
}

@media only screen and (max-height: 740px) {
  .buttons-wrapper button{
    font-size: 1.6rem;
  }
}